[Unit]
Description=Vanilla Minecraft server service
After=network.target
StartLimitAction=reboot

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/usr/games/minecraft/run.sh

[Install]
WantedBy=multi-user.target
